<script type="text/javascript">
  $(document).ready(function () {

    $('#dashMenu').addClass('current');

  });
</script>


<div class="main-content">

  <!-- Enter Page content Start-->
  Malkit Singh
  <!-- Enter Page content end-->




  <footer class="footer">
    <ul class="list-inline">
      <li>2021 © Amrit Malwa Capital Limited.</li>

    </ul>
  </footer>
</div>